<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
  </head>
  <body>
  <div id="table">
      <div id ="one" class="col-md-4">&nbsp;</div>
      <div id ="two" class="col-md-4">&nbsp;</div>
      <div id ="three" class="col-md-4">&nbsp;</div>
      <div id ="four" class="col-md-4">&nbsp;</div>
      <div id ="five" class="col-md-4">&nbsp;</div>
      <div id ="six" class="col-md-4">&nbsp;</div>
      <div id ="seven" class="col-md-4">&nbsp;</div>
      <div id ="eight" class="col-md-4">&nbsp;</div>
      <div id ="nine" class="col-md-4">&nbsp;</div>
  </div>
  
<div class="scores p1">
<p class="player1"><span class="p1">Player</span><span class="p2">Player 1</span> (<span class="x"></span>)<span class="score">0</span></p>
<p class="ties">Ties<span class="score">0</span></p>
<p class="player2"><span class="p1">Computer</span><span class="p2">Player 2</span> (<span class="o"></span>)<span class="score">0</span></p>
  </div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<!-- <script src="js/jquery-1.11.3.min.js"></script>-->

	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<!--<script src="js/bootstrap.js"></script>-->
    <script src="js/script.js"></script>
  </body>
</html>